// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  height: 100%;
}

.conteudo {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.imagem {
  height: 100%;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.texto {
  color: black;
  position: absolute;
  opacity: 1;
  cursor: default;
}

.titulo {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 15px;
}

.links {
  font-size: 14px;
  color: white;
  margin-top: 15px;
}

.barra-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.pull-right {
  font-size: 15px;
  color: white;
  margin-top: 15px;
}
a{
  color:#666 !important;
}

a:hover { 
  text-decoration: none !important;
  background: transparent !important;
  color:gray !important;
  
}



