// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
	margin-left: 15%;
	margin-right: 15%;
}

.container-card {
	margin-left: 15%;
	margin-right: 15%;
	width: 60%;
	border-color: red;
	border-style: 2px solid;
	display: inline-flex;
}

.card {
	padding: 5px;
	border: 1px solid rgb(215, 215, 215);
  	float: left;
}

.card-descricao {
	float: right;
	width: 100%;
	padding: 5px;
	border: 1px solid rgb(215, 215, 215);
}