// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-page{
    width: 360px;
    padding: 2% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.arrow_left{
    padding-bottom: 2%;
}

#show-email {
    width: 80%;
    padding: 2% 0 0;
    margin: auto;
    font-size: 25px;
}

#id-email {
  font-size: 30px;
}

#id-email2 {
  font-size: 30px;
  color: blue;
}
