<link rel="stylesheet" href="app/assets/stylesheets/products.scss" /> 

<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Products</h1>
    
    <div id="main">
        
        <% @products.each do |product| %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap"> 
            <div class="card-body">
                <h3 class="card-title"> <%= product.name %> </h3>
                <p class="card-text"> <%= product.description %> </p>
                <a href="#" class="btn btn-primary"> Go somewhere </a>
            </div>
        </div>
        <% end %>
    
    </div>
<br>

<div style="margin-right: 45%; margin-left: 45%; margin-top: 100px;"><%= link_to 'New Product', new_product_path %> </div>
